.banner {
    /* background-image: url("../images/anshu-a-wi9Oi8Og7sc-unsplash.jpg") ; */
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin-top: 100px;
}

.banner .banner_text {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    /* width: 50%; */
    font-family: 'Dancing Script', sans-serif;
    font-size: 35px;
    font-weight: 700;
}

/* .banner::after {
    content: "\01F525";
    font-size: 50px;
} */

@media only screen and (min-width: 600px) {
    .banner .banner_text {
        font-size: 40px;
    }
    
}

@media only screen and (min-width: 768px) {
    .banner .banner_text {
        font-size: 50px;
    } 
}


@media only screen and (min-width: 1024px) {
    .banner .banner_text {
        font-size: 55px;
    }
    
}

@media only screen and (min-width: 1280px) {
    .banner .banner_text {
        font-size: 60px;
    }
}
