/* * {
   outline: 1px solid red; 
} */

.recipe_cards {

    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    
}

.recipe_cards .recipe_card {
    border: 1px solid red;
    display: flex;
    flex-basis: 200px;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: flex-end;
    /* height: 200px; */
    max-width: 414px;
    width: 100%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.581342);
    position: relative;
}

.recipe_cards .recipe_card::before {
    content: "";
    border-radius: 15px;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(94, 92, 92, 0) 6.78%, rgba(0, 0, 0, 0.271) 32.64%, rgba(22, 20, 20, 0.916) 80.2%, rgba(0, 0, 0, 0.881342) 88.59%, #000000 99.46%);
    z-index: 1;
}


/* .recipe_cards .color-overlay {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100;
    background-color: black;
    opacity: 0.6;
} */

.recipe_card .recipe_card__image {
    /* height: 168.28px; */
    /* margin-bottom: 5px; */
    /* width: 100%; */


}

.recipe_card .recipe_card__texts {
   text-align: left;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
   width: 150px; 
}

.recipe_card__texts .texts{
    color: rgb(255, 255, 255);
    font-size: 14px;
    word-break: break-word;
    position: relative;
    z-index: 20;
}

.recipe_card .recipe_card__image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 15px;
}

.recipe_card__image .img { 
    height: auto; 
    width: 100%; 
    object-fit: cover; 
    border-radius: 15px; 
}

@media only screen and (min-width: 414px) {
    .recipe_cards .recipe_card {
        flex-basis: 210px ;
        
    }
}

@media only screen and (min-width: 600px) {
    .recipe_cards {
     align-items: center; 
        
    }
}


@media only screen and (min-width: 768px) {
    .recipe_cards.container {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 30px;
        max-width: 100%;
    }


    .recipe_cards {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;   
    }

    .recipe_cards .recipe_card {
        flex-basis: 48% ;
        min-height: 200px;
        
    }

    .recipe_cards .recipe_card:hover {
        box-shadow: 50px, 20px, 20px bisque;
    }

    .recipe_cards:not(:last-child) {
        margin-right: 4%;
    }

}

@media only screen and (min-width: 1024px) {
    .recipe_cards.container {
        margin-top: 70px;
        margin-left: 5px;
        margin-right:5px;
        padding-left: 25px;
        padding-right: 25px;
    } 

    .recipe_cards .recipe_card {
        flex-basis: 31% ;
    }

    .recipe_cards:not(:last-child) {
        margin-right: 3.5%;
    }
}

