/* * {
  border: 1px solid red;
} */

#root {
  position: relative;
  z-index: 1;
  height: 100%;
}


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  height: 100%;
}


.container {
  padding: 24px 0px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1024px) {
  .container {
    padding: 2rem 3rem;
  }
}
